{% extends 'base.html' %} {% block content %}

<style>
  .intro {
    text-align: center;
  }
</style>

<div id="content">
  <center><h1>Welcome to MovieMafia.com</h1></center>
  
  <h2>About Us</h2>
  <p>
      MovieMafia.com is your ultimate destination for all things movies. Whether you're a dedicated cinephile or a casual moviegoer, our platform caters to your movie-related needs. We're not just a website; we're a thriving community of passionate movie enthusiasts who love sharing their thoughts and opinions.
  </p>

  <h2>Key Features</h2>
  <ul>
      <li><strong>Comprehensive Movie Reviews:</strong> Our team of professional critics and our user community provide in-depth and unbiased reviews for a vast library of films.</li>
      <li><strong>User-Generated Content:</strong> Join our community, write your own movie reviews, rate films, and engage in discussions with fellow members.</li>
      <li><strong>Personalized Recommendations:</strong> Discover your next favorite film effortlessly with our recommendation engine.</li>
      <li><strong>Interactive Ratings:</strong> Rate movies and provide detailed feedback to help others make informed choices.</li>
      
  </ul>

  <h2>Why Choose MovieMafia.com?</h2>
  <p>
      - Trustworthy Reviews: Our professional critics maintain high standards of objectivity and quality.
  </p>
 
  <p>
      - Contribution Matters: Your reviews and ratings contribute to a vibrant movie ecosystem.
  </p>
  <p>
      - User-Friendly Interface: Our website is designed with user experience in mind, making it easy to navigate and interact with.
  </p>

  <h2>Join Us Today!</h2>
  <p>
      Join us at MovieMafia.com, where movies come to life through reviews, discussions, and the collective love for the silver screen.
  </p>
  <center>
    <p class="lead" style="color: red">
      This Website is Under Construction and Developed by Ahasanul Karim (Abir) , Roll - 1903152
      <br />
       Due to The Course of CSE 3100 ,Under The Supervisor Dr. Md. Al Mehedi Hasan
    </p>
  </center>
    <hr class="my-4" />
    <div class="row">
      <div class="col-sm-6">
        <h4 class="intro">Submitted To</h4>
        <h2 class="intro">Dr. Md. Al Mehedi Hasan</h2>
        <h3 class="intro">Professor</h3>
        <h5 class="intro">Rajshahi University of Engineering and Technology</h5>
      </div>
      <div class="col-sm-6">
        <h4 class="intro">Submitted By</h4>
        <h2 class="intro">Md. Ahsanul Karim (Abir)</h2>
        <h3 class="intro">Roll - 1903152</h3>
        <h5 class="intro">Rajshahi University of Engineering and Technology</h5>
      </div>
    </div>
  </div>
</div>

} {% endblock content %}
